!!!
%html
  %head
    %script(src='//cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js')
    %script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    :javascript
      var uri = JSON.parse('#{@ws_stomp_uri}');
      var ws = new WebSocket(uri.protocol + '://' + uri.host + ':' + uri.port + '/ws');
      var client = Stomp.over(ws);

      // RabbitMQ SockJS does not support heart-beats
      client.heartbeat.outgoing = 0;
      client.heartbeat.incoming = 0;
      client.debug = onDebug;
      client.connect(uri.user, uri.password, onConnect, onError, uri.vhost);

      function onConnect() {
        var id = client.subscribe("/exchange/web/chat", function(d) {
          var node = document.createTextNode(d.body + '\n');
          document.getElementById('chat').appendChild(node);
        });
      }

      function onError(e) {
        console.log("STOMP ERROR", e);
      }

      function onDebug(m) {
        console.log("STOMP DEBUG", m);
      }

      function sendMsg() {
        var msg = document.getElementById('msg').value;
        client.send('/exchange/web/chat', { "content-type": "text/plain" }, msg);
      }
  %body
    %h1 Web stomp chat
    %pre#chat
    %input#msg{type: 'text'}
    %button#send{onclick: 'sendMsg()'}
      Send

